@*@model Fantasy3.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
@model Fantasy3.Models.LoginModel

@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<center>
    <table>
        <tr><td>
<td class="hero-unit" style="background-color:#f5e60d;">

    <table><tr><td style="width:500px;" >
        
      <fieldset style="padding-right:100px;">
        <legend><h2>Fantasy Football BH Premier League <br /> <small>Start the best experience!</small></h2></legend>
       
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
           
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            <br />
                @Html.CheckBoxFor(m => m.RememberMe) <small>Remember me</small>
       <br />    
        <input type="submit" value="Log in" class="btn btn-success" />
    </fieldset></td><td class="thumbnail" style="background-color:#FFFFCC;padding:50px; text-align:left;">
<img src="~/Content/images/logo.png" alt="Logo" width="50%"/>
<h4>NOT REGISTERED?!<br />
<small>If you don't have an existing account, you can register by clicking the button bellow. <br /> HAVE FUN!</small></h4>

@Html.ActionLink("REGISTER","Register","Account")
</td></tr></table>
   </td></tr></table>

    </center>
}