@model Fantasy3.Models.match

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_BootstrapLayout.narrow.cshtml";
}

<br />
<h2><small>Kreiraj meč</small></h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.idMatch)
        </div>*@
       @* <div class="editor-field">
            @Html.EditorFor(model => model.idMatch)
            @Html.ValidationMessageFor(model => model.idMatch)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.idGameWeek2, "Kolo:")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idGameWeek2", String.Empty)
            @Html.ValidationMessageFor(model => model.idGameWeek2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.homeTeam, "Domaći Tim")
        </div>
        <div class="editor-field">
            @Html.DropDownList("homeTeam", String.Empty)
            @Html.ValidationMessageFor(model => model.homeTeam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.awayTeam, "Gostujući Tim")
        </div>
        <div class="editor-field">
            @Html.DropDownList("awayTeam", String.Empty)
            @Html.ValidationMessageFor(model => model.awayTeam)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    <button class="active">@Html.ActionLink("Back to List", "Index")</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
