@model Fantasy3.Models.match

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BootstrapLayout.narrow.cshtml";
}
<br />
<h2><small>Detalji mečeva</small></h2>

<fieldset>
    <legend></legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idMatch)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idMatch)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gameweek.gameweekName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gameweek.gameweekName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.footballteam.teamName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.footballteam.teamName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.footballteam1.teamName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.footballteam1.teamName)
    </div>
</fieldset>
<p>
    <button class="active">@Html.ActionLink("Edit", "Edit", new { id=Model.idMatch })</button>
    <button class="active">@Html.ActionLink("Back to List", "Index")</button>
</p>
