@model IEnumerable<Fantasy3.Models.match>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BootstrapLayout.narrow.cshtml";
}
<br />
<h2><small>Meč - Početna</small></h2>

<p>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-plus"> @Html.ActionLink("Kreiraj Meč", "Create")</span>
</button>
    
</p>
<table class="table table-striped">
    <tr>
        <th class="form-control-static">
            @Html.DisplayNameFor(model => model.idMatch)
        </th>
        <th class="form-control-static">
           @Html.DisplayNameFor(model => model.gameweek.gameweekName)
        </th>
        <th class="form-control-static">
            Domaći tim
        </th>
        <th class="form-control-static">
            Gostujući tim
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idMatch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gameweek.gameweekName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.footballteam.teamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.footballteam1.teamName)
        </td>
        <td>
            <button type="button" class="active">@Html.ActionLink("Edit", "Edit", new { id=item.idMatch  }) </button>
            <button type="button" class="active">@Html.ActionLink("Details", "Details", new {  id=item.idMatch  }) </button>
            <button type="button" class="active">@Html.ActionLink("Delete", "Delete", new { id=item.idMatch   })</button>
        </td>
    </tr>
}

</table>
