@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      /* added to trim our long nav menu to a more appropriate appearance */
      .masthead .nav {
          max-width: 416px;
          height: 3em;
      }
      #navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

            #navlista th
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

 #roundeddiv div {
    border: 2px solid;
    border-radius: 25px;
}

 /*div.container
{
    background-color:#aaa;
}
div.span4, div.span8, div.span12
{
    background-color:#eee;
    border: 1px solid #888;
    border-radius:3px;
}*/
    </style>
    <link href="@Styles.Url("~/Content/css-responsive")" rel="stylesheet" type="text/css" />
     @Scripts.Render("~/Scripts/angular.min.js")
     @Scripts.Render("~/Scripts/app.js")

<script type="text/javascript">
    //function HelloWorldCtrl($scope) {
    //    $scope.helloMessage = "Dobro došli na stranicu administratora";

    //    angular.module('test', []).controller('HelloWorldCtrl', function ($scope, $http) {
    //        $scope.selectedTestAccount = null;
    //        $scope.testAccounts = [];

    //        $http({
    //            method: 'GET',
    //            url: '/Admin/GetTestAccounts',
    //            data: { applicationId: 1 }
    //        }).success(function (result) {
    //            $scope.testAccounts = result;
    //        });
    //    });

    //}

    function GetDiv() {
        var rollNumber = $('#StudentsList').val();
        $.ajax(
        {
            type: "POST",
            url: "@Url.Action("GetDivOfStudent","Home")",
         dataType: 'text',
         data: { id: rollNumber },
         success: function (result) {
             $('#myTextBox').val(result);      
         },
         error: function (req, status, error) {
             alert("Coudn't load partial view"+error+req);
         }
        });
    }
</script>

    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
    @* favicons and touch icons go here *@
</head>
<body>
    <div class="container-narrow">

        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                @Html.Navigation()
            </ul>
            <h3 class="muted">Admin page - Fantasy BHPL</h3>
        </div>

        @Html.Partial("_alerts")
        @*<ul id="navlist">*@
             @*<li>@Html.ActionLink("Home", "Index", "Admin")</li>*@
            @*<li>@Html.ActionLink("Meèevi", "Index", "Match")</li>*@
           @* <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>*@
        @*</ul>*@   

<nav class="navbar navbar-default" role="navigation">
   @*<div class="navbar-header">
      <a class="navbar-brand" href="#">TutorialsPoint</a>
   </div>*@
   <div>
      <ul class="nav navbar-nav">
         @*<li class="active"><a href="#">iOS</a></li>*@
         <li class="active">@Html.ActionLink("Home", "Index", "Admin")</li>
         <li class="active">@Html.ActionLink("Korisnièki Profili", "Index", "UserProfile")</li>
         <li class="active">@Html.ActionLink("Nogometni Tim", "Index", "FootballTeam")</li>
         <li class="active">@Html.ActionLink("Meèevi", "Index", "Match")</li>
         @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Java 
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="#">jmeter</a></li>
               <li><a href="#">EJB</a></li>
               <li><a href="#">Jasper Report</a></li>
               <li class="divider"></li>
               <li><a href="#">Separated link</a></li>
               <li class="divider"></li>
               <li><a href="#">One more separated link</a></li>
            </ul>
         </li>*@
      </ul>
   </div>
</nav>

        @RenderBody()
@*        <button type="button" class="btn btn-default">Meèevi</button>*@
        <hr>
        <footer>
            <p>&copy; ETA @System.DateTime.Now.ToString("yyyy")</p>
        </footer>

    </div> <!-- container -->
    @Scripts.Render("~/js")
    @RenderSection("Scripts", required: false)
</body>
</html>

