@model Fantasy3.Models.footballteam
@model Fantasy3.Models.

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_BootstrapLayout.narrow.cshtml";
}
<br />
<h2><small>Kreiranje Nogometnog Tima</small></h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>footballteam</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idFootballTeam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idFootballTeam)
            @Html.ValidationMessageFor(model => model.idFootballTeam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.teamName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.teamName)
            @Html.ValidationMessageFor(model => model.teamName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
